// output:index.html, pretty:false
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="assets/styles/style.min.css")
        title Genetic Text Algorithm
    body
        i#generation
        i#overall
        i#rate
        h3#original
        h1#best
        ul#phrases
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/HashChange.js")
    script(src="assets/js/DNA.js")
    script(src="assets/js/main.js")
